html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #a9cfff;
  min-width: 100%;
  min-height: 100%;
}

.text-over-img {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
  right: 0;
  left: 0;
  z-index: 3;
}

.under {
  position: relative;
}

.canvas {
  width: 500px;
  height: 700px;
  border: solid 1px;
  margin: 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
}

.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}

.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  white: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}

.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}

.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}

.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.techs-container {
  margin: 1rem;
}

.techs-h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  height: 15rem;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.tech-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}

.tech-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
