<div class="col-md-4">
    <canvas id="pie" class="chart chart-pie"
            chart-data="ctrl.data" chart-labels="ctrl.labels" chart-options="ctrl.options"
            ng-if="ctrl.summary.totalMathes>0">
    </canvas>
    <h2 ng-if="ctrl.summary.totalMathes == 0">No games created. </h2>
</div>
<div class="btn-group-vertical btn-group btn-group.btn-group-justified col-md-6 col-md-offset-1" role="group"
     aria-label="...">
    <a class="btn btn-default btn-lg" ng-click="ctrl.newMatch()" role="button">New Game</a>
    <a class="btn btn-default btn-lg" ng-click="ctrl.openContinueModal()" role="button">Continue</a>
</div>
