<!--<div class="jumbotron">-->
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Game {{ctrl.match.id}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row col-md-12">
            <div class="col-lg-12 text-center">
                <h2 ng-if="!ctrl.match.hiddenWord">
                    <span ng-repeat="char in ctrl.match.revealedCharacterStatus track by $index">
                        <i>{{char}}</i>
                    </span>
                </h2>
                <h2 ng-if="ctrl.match.hiddenWord">
                    <span ng-repeat="char in ctrl.match.hiddenWord track by $index">
                        <i>{{char}}</i>
                    </span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 under">
                <img ng-src="img/hangman/{{ctrl.errors}}.png" alt="" class="img-responsive col-md-12 img-thumbnail  "
                     width="622" height="557" ng-if="!ctrl.match.lost">
                <img ng-src="img/hangman/lost.png" alt="" class="img-responsive col-md-12 img-thumbnail  "
                     width="622" height="557" ng-if="ctrl.match.complete&&ctrl.match.lost">
                <div class="text-over-img text-center">
                    <h1>Number of errors</h1>
                    <h1>{{ctrl.errors}} / {{ctrl.match.errorsPermeted}}</h1>
                    <h1 ng-if="ctrl.match.complete&&ctrl.match.lost">You loose!!!!</h1>
                    <h1 ng-if="ctrl.match.complete&&ctrl.match.won">You win!!!!</h1>
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h3> Keyboard</h3>
                <fieldset ng-disabled="ctrl.match.complete">
                    <a ng-click="ctrl.insertCharacter(key.character)" class="btn btn-default btn-lg"
                       ng-class="{ 'disabled': key.correct != null, 'btn-success': key.correct != null&&key.correct, 'btn-danger': key.correct != null&&!key.correct}"
                       role="button" ng-repeat="key in ctrl.keyboard">{{key.character}}</a>
                </fieldset>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-8">
                    <a class="btn btn-default btn-lg " ng-click="ctrl.newMatch()" role="button">New Game</a>
                </div>
            </div>
        </div>
    </div>
</div>
