<!--<div class="modal-header">-->
<!--<h3 class="modal-title" id="modal-title">I'm a modal!</h3>-->
<!--</div>-->
<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="matchIdInput">Insert Game ID</label>
        <input type="text" id="matchIdInput" class="form-control" placeholder="Game ID" ng-model="ctrl.matchId">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>